<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <filter>
   <filter-name>SetCharacterEncodingFilter</filter-name>
   <filter-class>com.kunkun.filter.SetCharacterEncodingFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>SetCharacterEncodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>com.kunkun.web.controller.ControlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>com.kunkun.web.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.kunkun.web.controller.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.kunkun.web.controller.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.kunkun.web.controller.ReplyServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/servlet/ControlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/servlet/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/servlet/ReplyServlet</url-pattern>
  </servlet-mapping>

</web-app>